body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
section{
    height: 500px;
    padding-top: 50px;
}
.bttn{
    background-image: linear-gradient(45deg, #ff3d8d , #6552DC);
    border: 0px solid #ff3d8d;
    padding: 16px 24px;
    border-radius: 11px;
    transition: 0.8s;

}
.bttn:hover{
    background-image: linear-gradient(45deg, #6552dc , #ff3d8d);
    letter-spacing: 2px;
}
.bttn a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.top-banner{
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 40px;

}
span{
   color: orange; 
}
h3{
    font-weight: 600;
}
p{
    font-weight: 400;
    color: dimgray;
}
.contant{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.contant img {
    width: 100%;
}
.banner1{
    margin-top: 50px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.h2{
    margin-left: 10px;
    font-size: 30px;
}
.single-Experiences{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 65%;


}
.experiencec{
    
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: -7px 201px
}
#experiencec1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#experiencec2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
    font-style: 12px;
    
}